<body ng-app="app">
    <div class="container">
        <button class="btn btn-lg btn-outline-primary" data-toggle="modal" (click)="open(AddContent)">ADD Team</button> &nbsp;
    
      <!-- START Registration Form -->
      <div class="jumbotron">
        <div class="col-md-12">
            <h2 class="text-center search-title">Search Team</h2>
            <form  #frm='ngForm'>
              <div class="form-group row">
                <input type="hidden" name="id" id="id" [(ngModel)]="team.id" >
                <label for="teamName" class="col-sm-2">Team Name:</label>
                <input type="text" name="teamName" class="form-control col-sm-2" id="teamName" [(ngModel)]="team.teamName" >
                
                <label for="teamDesc" class=" col-sm-2">Team Desc:</label>
                <input  type="text" name="teamDesc" class="form-control col-sm-2" id="teamDesc" [(ngModel)]="team.teamDesc" >
              </div>
              <div class="form-group row buttum-search-row">
                  <div class="form-group row  center col-sm-4"></div>
                <div class="form-group row  center col-sm-6">
                <input type="submit" value="Search" class="btn btn-success" (click)="searchTeam()" [disabled]='frm.invalid' />
                &nbsp; &nbsp;<input type="reset" value="Clear" class="btn btn-primary" />
              </div>
             </div>
            </form>
          </div>  
        </div>  
        <!-- END Registration Form -->  
    <br>
  
    <!-- START Team Details Data Table-->
    <table class="table table-striped">
      <thead>
        <th>SL No.</th>
        <th>ID</th>
        <th>Team Name</th>
        <th>Team Description</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams; let i = index" >
          <td>{{i+1}}</td>
          <td>{{team.id}}</td>
          <td>{{ team.teamName }}</td>
          <td>{{ team.teamDesc }}</td>
          <td>
            <button class="btn btn-primary" (click)="openEditModal(EditContent,team)">Edit</button> &nbsp;
            <button class="btn btn-danger" (click)="deleteTeam(team)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- END Team Details Data Table-->
    </div>
    
     <!-- START ADD Team Details Modal -->
    <ng-template #AddContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Team</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  #frm='ngForm'>
          <div class="form-group row">
            <input type="hidden" name="id" id="id" [(ngModel)]="team.id" >
            <label for="text" class="col-sm-4 col-rght-pad">Team Name:</label>
            <input type="text" name="teamName" class="form-control col-sm-6" id="teamName" [(ngModel)]="team.teamName">
            </div>
            <div class="form-group row">
            <label for="teamDesc" class="col-sm-4 col-rght-pad">Team Name:</label>
            <input  type="text" name="teamDesc" class="form-control col-sm-6" id="teamDesc" [(ngModel)]="team.teamDesc">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="createTeam()">Save </button>
      </div>
    </ng-template>
    <!-- END ADD Team Details Modal -->
  
    <!-- START EDIT Team Details Modal -->
    <ng-template #EditContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Team</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  #frm='ngForm'>
          <div class="form-group row">
            <input type="hidden" name="id" id="id" [(ngModel)]="team.id" >
            <label for="text" class="col-sm-4 col-rght-pad">Team Name:</label>
            <input type="text" name="teamName" class="form-control col-sm-6" id="teamName" [(ngModel)]="team.teamName" >
            </div>
            <div class="form-group row">
            <label for="teamDesc" class="col-sm-4 col-rght-pad">Team Name:</label>
            <input  type="text" name="teamDesc" class="form-control col-sm-6" id="teamDesc" [(ngModel)]="team.teamDesc" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="updateTeam()">Save </button>
      </div>
    </ng-template>
    <!-- END EDIT Team Details Modal -->
  
    </body>